:local(.simpleComment) {
  border-radius: 0.25em;
  padding: 0.5rem;

  &:nth-child(odd) {
    background-color: rgba(0, 160, 275, 0.1);
    margin-bottom: 1em;
  }
  &:nth-child(even) {
    margin-top: -1em;
  }
}
