**/.eslintrc.json
**/.eslintignore
**/.prettierignore
**/.babelrc
**/.editorconfig
**/.gitignore
**/.nvmrc
**/.prettierrc
**/.package.json
**/README.md
**/README_v1-4-1.md
**/*.json
**/*.html
**/*.yml
**/*.sh
**/*.snap
**/*.svg
**/*.png
**/*.webp
**/*.scss
