**/.eslintrc.json
**/.eslintignore
**/.prettierignore
**/.babelrc
**/.editorconfig
**/.gitignore
**/.nvmrc
**/.prettierrc
**/.package.json
**/README.md
**/tsconfig.json
**/yarn.lock
**/.env.default
**/.env.notes
**/*.json
**/*.html
**/*.yml
**/*.sh
**/*.graphql
**/*.snap
**/*.svg
**/*.png
**/*.webp
**/*.scss
