@import '../../style/settings/index';
@import '../../style/tools/index';

:local(.commentTitle) {
  font-size: 1em;
  color: rgba(0, 0, 0, 100);
  cursor: pointer;
  padding: 1em;
  padding-left: 0.5em;

  @include respond-to(md) {
    padding: 0;
    padding-left: 0;
  }
}
