///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Palette
$color-blue-dark-grey: #020f20;
$color-blue-grey: #2e517f;
$color-blue-mid: #1078ff;
$color-blue-light: #5ca3ff;
$color-blue-dark: #083c7f;

$color-red-dark-grey: #200000;
$color-red-grey: #7f2726;
$color-red-mid: #ff0200;
$color-red-light: #ff4e4c;
$color-red-dark: #7f0100;

$color-green-dark-grey: #467f47;
$color-green-grey: #33cc35;
$color-green-mid: #40ff42;
$color-green-light: #8cff8e;
$color-green-dark: #207f21;


$color-blue-egg: #0dbeb2;


$color-peach-light: #ffefdd; // rgb(255,239,221)
$color-peach-mid: #ffddb9;
$color-peach-dark: #ff992c;

$color-button: #ceb1be;
$color-count: #2d2d34;

$color-gray:            #666;
$color-gray-light:      #e2e2e2;
$color-gray-lightest:   #efefef;

$color-gray-dark:       #222;

$color-white: #fff;

// Text
$color-text: $color-gray-dark;

$color-shadow-1: rgba(0, 0, 0, 0.25);
$color-shadow-2: rgba(0, 0, 0, 0.22);
