@import 'base';
@import 'typography';


///*------------------------------------*\
//    #LAYOUT
//\*------------------------------------*/

$breakpoints: (
  sm: 30em, // 30 * 16 = 480
  md: 48em, // 48 * 16 = 768
  lg: 60em, // 960
  xl: 75em //1200
);
