:local(.commentThread) {
  align-content: start;
  align-items: flex-start;
  background-size: 300% 300%;
  border: 1px solid #AAA;
  border-radius: 6px;
  background: linear-gradient(225deg, #ffabab, #ffdaab, #ddffab, #abe4ff, #d9abff);
  display: flex;
  flex-direction: row;
  flex: 1 1 30%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 1em;
  padding-top: 0.5em;

  &:last-child {
    margin-right: 0;
  }
}

:local(.hover) {
  transition: transform .2s ease, box-shadow .2s ease, padding .2s ease, -webkit-transform .2s ease, -webkit-box-shadow .2s ease;
  will-change: transform, box-shadow;

  &:hover {
    box-shadow: 0 0.25em 0.25em 0 rgba(10,16,34,.3), 0 0 0 transparent;
    transform: translateY(-1px) translateX(1px) translateZ(0px);
  }
}


:local(.wrapper) {
  display: flex;
  flex-direction: row;
  flex: 1 1 30%;
  flex-wrap: wrap;
  justify-content: space-around;
}

:local(.blah) {
  width: calc(100% - 1em);
}
