:local(.commentThread) {
  align-content: start;
  align-items: flex-start;
  border: 1px solid #AAA;
  border-radius: 6px;
  background: linear-gradient(225deg, #ddffab, #abe4ff, #d9abff);
  display: flex;
  flex-direction: row;
  flex: 1 1 15%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 1em;
  padding-top: 0.5em;
  transition:
    background 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background-size 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    flex 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: background, background-size, transform, flex;

  &:last-child {
    margin-right: 0;
  }
}

:local(.noActive) {
  flex: 1 1 30%;
  transition:
    background 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background-size 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    flex 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: background, background-size, transform, flex;
}


:local(.expanded) {
  background: linear-gradient(225deg, #ffabab, #ffdaab, #ddffab, #abe4ff, #d9abff);
  background-size: 300% 300%;
  flex: 1 0 75%;
  transition:
    background 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background-size 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    flex 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: background, background-size, transform, flex;
}

/*
:local(.hover) {
  transition: transform .2s ease, box-shadow .2s ease, padding .2s ease, -webkit-transform .2s ease, -webkit-box-shadow .2s ease;
  will-change: transform, box-shadow;

  &:hover {
    box-shadow: 0 0.25em 0.25em 0 rgba(10,16,34,.3), 0 0 0 transparent;
    transform: translateY(-1px) translateX(1px) translateZ(0px);
  }
}
*/
