@import '../../style/settings/index';
@import '../../style/tools/index';

$multiple: -6;
$multiple-small: 10;
$multiple-large: 4;

:local(.example) {
  max-height: calc(100vh - (var(--baseline) * #{$multiple} * 1rem));
  min-height: calc(100vh - (var(--baseline) * #{$multiple} * 1rem));

  padding: 0 1.5rem;
  background: #FFF;
  border: 1px solid #AAA;
  border-bottom: none;
  border-radius: 2px;
  flex: 1 1 33%;

  @include respond-to(sm) {
    max-height: calc(100vh - (var(--baseline) * #{$multiple-small} * 1rem));
    min-height: calc(100vh - (var(--baseline) * #{$multiple-small} * 1rem));
  }

  @include respond-to(xl) {
    max-height: calc(100vh - (var(--baseline) * #{$multiple-large} * 1rem));
    min-height: calc(100vh - (var(--baseline) * #{$multiple-large} * 1rem));
    margin-bottom: 0;
  }
}

:local(.header) {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1em;
}
