@import '../../style/settings/index';
@import '../../style/tools/index';

:local(.example) {
  height: 85vh;
  margin-bottom: 1em;
  padding: 1.5rem;
  padding-top: 0;
  background: #FFF;
  border: 1px solid #AAA;
  border-bottom: none;
  border-radius: 2px;
  flex: 1 1 33%;

  @include respond-to(md) {
    &:first-child {
      margin-right: 0.75em
    }

    &:last-child {
      margin-left: 0.75em;
    }
  }
}

:local(.header) {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1em;
}
