@import '../../style/settings/index';
@import '../../style/tools/index';

:local(.main) {
  padding: 1.5em;
  margin: 0 auto;
  padding-top: 0;
  background: #FFF;
}

:local(.container) {
  @include respond-to(sm) {
    height: calc(100vh - (var(--baseline) * 10 * 1rem));
    margin-bottom: 0;
  }

  @include respond-to(md) {
    height: calc(100vh - (var(--baseline) * 9 * 1rem));
    margin-bottom: 0;
  }

  @include respond-to(xl) {
    height: calc(100vh - (var(--baseline) * 6 * 1rem));
    margin-bottom: 0;
  }
}

:local(.scroller) {
  height: 100%;
}
