@import '../../style/settings/index';
@import '../../style/tools/index';

:local(.main) {
  padding: 1.5em;
  margin: 0 auto;
  padding-top: 0;
  background: #FFF;
}

:local(.container) {
  height: calc(100vh - (var(--baseline) * 11 * 1rem));
}
