:local(.comment) {
  min-width: -webkit-fill-available;
  min-width: -moz-available;
  min-width: fill-available;
  padding: 0 0 0 .5em;
  margin-right: 1.5em;
}

:local(.commentChildren) {
  padding-left: 1em;
  padding-top: 1em;
}
