@import '../settings/index';
@import '../tools/index';

///*------------------------------------*\
//    #HEADINGS
//\*------------------------------------*/

h1,
.h1 {
  font-size: 1.5rem;
  line-height: rvr(1);
  margin-bottom: rvr(1);
  margin-top: rvr(1);
}

h2,
.h2 {
  font-size: 1.25rem;
  line-height: rvr(1);
  margin-bottom: rvr(0.5);
}

h3,
.h3 {
  font-size: 1.125rem;
  line-height: rvr(1.125);
  margin-bottom: rvr(0.5);
}

h4,
.h4 {
  font-size: 1rem;
  line-height: rvr(1.25);
  margin-bottom: rvr(0.25);
}

h5,
.h5 {
  font-size: 0.75rem;
  line-height: rvr(1);
  margin-bottom: rvr(0);
}
