@import '../../style/settings/index';
@import '../../style/tools/index';

/*
:local(.commentThread) {
  border: 1px solid #AAA;
  border-radius: 1.5em;
  background: linear-gradient(225deg, #ddffab, #abe4ff, #d9abff);
  // background-size: 200% 200%;
  margin: 1em;
  min-width: min-content;
  padding: 2em;
  padding-top: 1.5em;
  flex: 1 1 auto;
  will-change: transform;
  cursor: pointer;
}
*/

:local(.commentThread) {
  border: 1px solid #AAA;
  border-radius: 1.5em;
  background: linear-gradient(225deg, #ddffab, #abe4ff, #d9abff);
  // background-size: 200% 200%;
  margin: 1.5em;
  //min-width: min-content;
  padding: 1.5em;
  padding-top: 1.5em;
  flex: 1 1 auto;
  will-change: transform;
  cursor: pointer;

  @include respond-to(md) {
    min-width: min-content;

    > * {
      &:first-child {
        margin-right: 0.75em;
      }

      &:last-child {
        margin-left: 0.75em;
      }
    }
  }
}

:local(.expanded) {
  min-width: min-content;
  background: linear-gradient(45deg, #ddffab, #abe4ff, #d9abff);
}

:local(.noChildren) {
  //padding-bottom: 1em;
}
