:local(.commentThread) {
  border: 1px solid #AAA;
  border-radius: 1.5em;
  background: linear-gradient(225deg, #ddffab, #abe4ff, #d9abff);
  background-size: 100% 100%;
  margin-bottom: 1em;
  margin-right: 0em;
  min-width: min-content;
  padding: 2em;
  padding-top: 1.5em;
  cursor: pointer;
}


:local(.expanded) {
  background: linear-gradient(45deg, #ddffab, #abe4ff, #d9abff);
}
