@import '../../../style/settings/index';
@import '../../../style/tools/index';

:local(.button-group) {
  background: rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
  display:flex;
  flex-wrap: nowrap;
  max-width: min-content;
  padding: 0.5em;
  width: fit-content;

  > button {
    &:last-child {
      margin-left: 0.5em;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

:local(.small) {

  padding: 0.3em;
  border-radius: 3px;

  > button {
    &:last-child {
      margin-left: 0.3em;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
