@import '../../../style/settings/index';
@import '../../../style/tools/index';

:local(.button-group) {
  display:flex;
  flex-wrap: nowrap;
  width: fit-content;
  background: rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 0.5em;
  border-radius: 6px;

  > button:active{
    //box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
  }

  > button {
    &:last-child {
      margin-left: 0.5em;
    }

    &:first-child {
      margin-left: 0;
    }

  }

}

:local(.small) {

  padding: 0.3em;
  border-radius: 3px;

  > button {
    &:last-child {
      margin-left: 0.3em;
    }

    &:first-child {
      margin-left: 0;
    }
  }

}
